<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.eyepedia">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />


    <application
        android:usesCleartextTraffic="true"

        android:allowBackup="true"
        android:icon="@mipmap/ic_eyepedia"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_eyepedia_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EyePedia">
        <activity
            android:configChanges="screenSize|orientation"

            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.EyePedia.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.SettingActivity"
            android:label="Settings"/>

        <activity android:name=".popupactivity.PopupActivity" android:theme="@android:style/Theme.Dialog">
        </activity>
    </application>
</manifest>